
.page__descr{
	margin-bottom: 60px;
	line-height: 130%;
}

.order-page__cart {
	margin-bottom: 40px;

}

.cart__item {
	display: block;
}
.cart-product {
	position: relative;
	padding-right: 50px;
	background-color: #f3f3f3;
	border: 1px solid #f3f3f3;
	margin-bottom: 10px;
	
}

.cart-product__inner {
	display: flex;
	
	

}
.cart-product__image {
	padding: 3px;
	width: 150px;
	height: 150px;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: #fff;
	margin-right: 20px;
}
.cart-product__body {
	display: flex;
	flex: 1 1 0;
	padding: 16px 0;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.cart-product__info {
	display: flex;
	flex-direction: column;
}

.cart-product__name {
	font-size: 18px;
	line-height: 130%;
	margin-bottom: 10px;
	width: 200px;
	-ms-flex: 0 0 auto;
	flex: 1 0 auto;
}
.cart-product__art {
	font-size: 12px;
	line-height: 130%;
	color: #828282;
}
.cart-product__item {

}
.cart-product__item--price {
}
.cart-product__label {
	font-size: 14px;
	line-height: 130%;
	color: #828282;
	margin-bottom: 10px;
}
.cart-product__price {
	font-size: 20px;
	line-height: 130%;
	color: #505050;
}
.cart-product__qty {
}
.qty {
}
.qty__input {
}
.qty__val {
}
.cart-product__item--total {
}
.cart-product__total {
	font-size: 20px;
	line-height: 130%;
	color: #505050;
}

//==================cart burger==================//

.cart-burger {
  position: absolute;
  top: 15px;
  right: 10px;
  display: block;
  z-index: 3;
}

.cart__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.cart__burger:before,
.cart__burger:after {
  content: "";
  background-color: #828282;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.cart__burger:before {
  top: 0;
}
.cart__burger:after {
  bottom: 0;
}
.cart__burger:before {
  transform: rotate(45deg);
  top: 9px;
}
.cart__burger:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.cart__burger {
  &:hover {
    transform: rotate(-180deg);
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
  }
}

//========================================//