footer{
	background-color: #F2F2F2;
}
//====================================================================================================

//====================================================================================================
.footer-items{
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #B2B2B2;
	padding-bottom: 20px;
		
}
.footer-item{
	display: flex;
	flex-direction: column;
	padding-right: 40px;
}
.footer-item:last-child{
	padding-right: 0px;
}
.footer-item__text{
	line-height: 140%;
	padding-bottom: 15px;
}
.footer-item__text span{
	font-weight: 600;
}
.footer-item__text a{
	color: #242424;
	transition: ease 0.3s;
	&:hover{
		color: #e94e1b ;
	}
}
.footer-items .social{
	flex: 1 1 auto;
	justify-content: flex-end;
}
.copy{
	padding-top: 15px;
	color: #B2B2B2;
}
.fill{
	transition: all 0.3s;
}
.social-icons a:hover svg path{
	fill: #e94e1b
}
//-------------------back-to-top-------------------//
.btn-top{
	display: none;
	position: fixed;
	bottom: 25px;
	right: 20px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #828282;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	padding: 10px 9px;
	transition: ease 0.3s;
	&:hover{
		background-color: #6e6e6e;
	}
}
//================media footer================//

@media (max-width: 750px){
	.footer-items{
		display: block;
		text-align: center;

	}
	.footer-items img{
		margin-bottom: 15px;
	}
	.footer-items .social{
		justify-content: center;
	}
	.social-icons {
    padding-left: 5px;
	}
	.social-icons a {
		padding-left: 5px;
	}
	.footer-item{
		padding-right: 0px;
	}

}