footer{
	background-color: #F2F2F2;
}
//====================================================================================================

//====================================================================================================
.footer-items{
	display: flex;
	align-items: flex-start;
	border-bottom: 1px solid #B2B2B2;
	padding-bottom: 20px;
		
}
.footer-item{
	display: flex;
	flex-direction: column;
	padding-right: 40px;
}
.footer-item:last-child{
	padding-right: 0px;
}
.footer-item__text{
	line-height: 140%;
	padding-bottom: 15px;
}
.footer-item__text span{
	font-weight: 600;
}
.footer-item__text a{
	color: #242424;
	transition: ease 0.3s;
	&:hover{
		color: #A81428 ;
	}
}
.footer-items .social{
	flex: 1 1 auto;
	justify-content: flex-end;
}
.copy{
	padding-top: 15px;
	color: #B2B2B2;
}


//================media footer================//

@media (max-width: 1100px){


}